<!-- Footer -->
<footer class="footer">
    <div class="footer-container">
        <!-- Left Section -->
        <div class="footer-logo">
            <div class="logo-text">
                <img src="assets/images/codsair icon png (1).png" alt="Codsair Technologies Logo" />
                <h1>CODSAIR TECHNOLOGIES</h1>
            </div>
            <p>No 1716, 7th FLOOR, HILITE BUSINESS PARK,<br>
                Palazhi, Kozhikode, Kerala 673014</p>
            <p>Phone: +91 9497428487, +91 8848027097</p>
            <p>Email: info&#64;codsairtechnologies.com<br>
                infocodsair&#64;gmail.com</p>
        </div>


        <!-- Right Section -->
        <div class="footer-links">
            <ul>
                <li>Home</li>
                <li>About us</li>
                <li>Contact Us</li>
            </ul>

            <ul>
                <li>Portfolio</li>
                <li>About us</li>
                <li>Services</li>
                <li>App Development</li>
            </ul>

            <ul>
                <li>Web Development</li>
                <li>Digital Marketing</li>
                <li>UI/UX Design</li>
                <li>App Development</li>
            </ul>

            <ul>
                <li>About us</li>
                <li>IOT</li>
                <li>Graphic Designer</li>
            </ul>
        </div>
    </div>
</footer>