<!-- Footer -->
<footer class="footer">
    <div class="footer-container">
        <!-- Left Section -->
        <div class="footer-logo">
            <div class="logo-text">
                <img src="assets/images/codsair icon png (1).png" alt="Codsair Technologies Logo" />
                <h1>CODSAIR TECHNOLOGIES</h1>
            </div>
            <p>{{ languageService.translate('footer.address') }}</p>
            <p>{{ languageService.translate('footer.phone') }}</p>
            <p>{{ languageService.translate('footer.email') }}</p>
        </div>


        <!-- Right Section -->
        <div class="footer-links">
            <ul>
                <li>{{ languageService.translate('home') }}</li>
                <li>{{ languageService.translate('about') }}</li>
                <li>{{ languageService.translate('contact') }}</li>
            </ul>

            <ul>
                <li>{{ languageService.translate('footer.portfolio') }}</li>
                <li>{{ languageService.translate('about') }}</li>
                <li>{{ languageService.translate('footer.services') }}</li>
                <li>{{ languageService.translate('footer.appdev') }}</li>
            </ul>

            <ul>
                <li>{{ languageService.translate('footer.webdev') }}</li>
                <li>{{ languageService.translate('footer.digitalmarketing') }}</li>
                <li>{{ languageService.translate('footer.uiux') }}</li>
                <li>{{ languageService.translate('footer.appdev') }}</li>
            </ul>

            <ul>
                <li>{{ languageService.translate('about') }}</li>
                <li>{{ languageService.translate('footer.iot') }}</li>
                <li>{{ languageService.translate('footer.graphic') }}</li>
            </ul>
        </div>
    </div>
</footer>