<!-- Footer -->
<!-- <footer class="footer">

    <div class="footer-container">
        <div class="footer-logo">
            <div class="logo-text">
                <img src="assets/images/Group 207.png" alt="Codsair Technologies Logo" />
            </div>
            <p>{{ languageService.translate('footer.address') }}</p>
            <p>{{ languageService.translate('footer.phone') }}</p>
            <p>{{ languageService.translate('footer.email') }}</p>
        </div>


        <div class="footer-links">
            <ul>
                <li>{{ languageService.translate('home') }}</li>
                <li>{{ languageService.translate('about') }}</li>
                <li>{{ languageService.translate('contact') }}</li>
            </ul>

            <ul>
                <li>{{ languageService.translate('footer.portfolio') }}</li>
                <li>{{ languageService.translate('about') }}</li>
                <li>{{ languageService.translate('footer.services') }}</li>
                <li>{{ languageService.translate('footer.appdev') }}</li>
            </ul>

            <ul>
                <li>{{ languageService.translate('footer.webdev') }}</li>
                <li>{{ languageService.translate('footer.digitalmarketing') }}</li>
                <li>{{ languageService.translate('footer.uiux') }}</li>
                <li>{{ languageService.translate('footer.appdev') }}</li>
            </ul>

            <ul>
                <li>{{ languageService.translate('about') }}</li>
                <li>{{ languageService.translate('footer.iot') }}</li>
                <li>{{ languageService.translate('footer.graphic') }}</li>
            </ul>
        </div>
    </div>
</footer> -->

<footer class="footer" id="contact">
    <div class="footer-container">
        <div class="footer-logo">
            <img src="assets/images/Group 207.png" alt="Codsair Technologies Logo" />
        </div>
        <div class="footer-links">
            <ul class="links-home">
                <li (click)="scrollToSection('home')">{{ languageService.translate('home') }}</li>
                <li (click)="scrollToSection('about')">{{ languageService.translate('about') }}</li>
                <!-- <li (click)="scrollToSection('contact')">{{ languageService.translate('contact') }}</li> -->
                <li (click)="scrollToSection('services')">{{ languageService.translate('footer.services') }}</li>
                <li (click)="scrollToSection('products')">{{ languageService.translate('products') }}</li>

            </ul>
            <ul class="links-book">
                <li (click)="scrollToSection('services')">{{ languageService.translate('footer.appdev') }}</li>
                <li (click)="scrollToSection('services')">{{ languageService.translate('footer.webdev') }}</li>
                <li (click)="scrollToSection('services')">{{ languageService.translate('footer.digitalmarketing') }}</li>
                <li (click)="scrollToSection('services')">{{ languageService.translate('footer.uiux') }}</li>
                <!-- <li (click)="scrollToSection('services')">{{ languageService.translate('footer.iot') }}</li> -->
                <li (click)="scrollToSection('services')">{{ languageService.translate('footer.graphic') }}</li>
            </ul>
            <ul class="links-contact">
                <li class="address">
                    {{ languageService.translate('footer.address') }}
                </li>
                <li>{{ languageService.translate('footer.email') }}</li>
                <li>{{ languageService.translate('footer.phone') }}</li>
            </ul>
        </div>
    </div>
</footer>