<!-- World Map section-->
<div class="locations-section">
  <h2 class="section-title">{{ languageService.translate('showcase.locations') }}</h2>

  <!-- World Map with Hover Markers -->
  <div class="map-container">
    <img src="assets/images/world.jpg" alt="World Map" class="world-map">

    <!-- Loop markers -->
    <div *ngFor="let loc of locations" class="marker" [ngStyle]="{'top': loc.top, 'left': loc.left}">
      <span class="tooltip">{{ languageService.translate(loc.countryKey) }}</span>
    </div>
  </div>

  <!-- Location Cards -->
  <div class="locations-card" [attr.dir]="'ltr'">
    <div class="location" *ngFor="let loc of locations">
      <div class="details">
        <h4 class="country-heading">
          <img [src]="loc.flag" [alt]="languageService.translate(loc.countryKey)">
          {{ languageService.translate(loc.countryKey) }}
        </h4>
        <p><i class="bi bi-telephone"></i>
          <a [href]="'tel:' + loc.phone">{{ loc.phone }}</a>
        </p>
        <p *ngIf="loc.email"><i class="bi bi-envelope"></i>
          <a [href]="'mailto:' + loc.email">{{ loc.email }}</a>
        </p>
      </div>
    </div>
  </div>
</div>
<!--End of World Map section-->


<!-- Experience section-->
<div class="experience-section" #experienceSection>
  <h2 class="section-title">{{ languageService.translate('showcase.experience') }}</h2>

  <div class="stats-container">
    <div class="stat-box" *ngFor="let stat of stats">
      <div class="stat-value">
        <span>{{ stat.currentValue }}{{ stat.suffix || '' }}</span>
        <i *ngIf="stat.icon" [class]="stat.icon"></i>
      </div>
      <div class="stat-label">{{ languageService.translate(stat.labelKey) }}</div>
    </div>
  </div>
</div>
<!-- End of Experience section-->


<!-- Blog section-->
<div class="blogs-section container">
  <h2 class="main-title">{{ languageService.translate('showcase.blogs.title') }}</h2>

  <div class="blogs-container">
    <!-- Featured Image -->
    <div class="featured-wrapper">
      <img src="assets/images/blog-bg.png" alt="Background" class="gradient-bg">
      <img src="assets/images/blog.png" alt="Featured" class="featured-img">
    </div>

    <!-- Right Content -->
    <div class="content-wrapper">
      <h3 class="blog-title">{{ languageService.translate('showcase.blogs.subtitle') }}</h3>
      <p class="description">
        {{ languageService.translate('showcase.blogs.description') }}
      </p>

      <!-- Blog Cards -->
      <div class="blog-cards">
        <div class="blog-card" *ngFor="let blog of blogs">
          <img [src]="blog.image" alt="{{ languageService.translate(blog.titleKey) }}">
          <p>{{ languageService.translate(blog.titleKey) }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Blog section-->