<app-common-navbar></app-common-navbar>

<!-- banner section -->
<section class="banner-section">
    <img src="assets/images/Rectangle 717.png" alt="Office environment" class="banner-image" />
    <div class="banner-content">
        <h1>{{ languageService.translate('service.banner.title') }}</h1>
        <p>
            {{ languageService.translate('service.banner.desc') }}
        </p>
    </div>
</section>
<!-- banner section ends -->

<!-- solution section -->
<section class="solution-section">
    <div class="container">
        <div class="row">
            <div class="col left-col">
                <h2>{{ languageService.translate('service.solution.title') }}</h2>
            </div>
            <div class="col right-col">
                <p>{{ languageService.translate('service.solution.desc') }}</p>
            </div>
        </div>
    </div>
</section>
<!-- solution section ends -->


<!-- card section -->
<section class="card-section">
    <div class="container">
        <div class="row">
            <div class="col card-col" *ngFor="let card of cards">
                <div class="card">
                    <img [src]="card.image" alt="{{ languageService.translate(card.titleKey) }}" class="card-image" />
                    <h3>{{ languageService.translate(card.titleKey) }}</h3>
                    <p class="description">{{ languageService.translate(card.descriptionKey) }}</p>
                    <button class="read-more" (click)="goToProduct(card.id)">{{ languageService.translate('service.showmore') }}</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- card section ends -->

<!-- Modal -->
<div class="modal-backdrop" *ngIf="selectedCard">
    <div class="modal">
        <div class="modal-header">
            <h2>{{ languageService.translate(selectedCard.titleKey) }}</h2>
            <button class="close-button" (click)="closeModal()">×</button>
        </div>
        <div class="modal-body">
            <img [src]="selectedCard.image" alt="{{ languageService.translate(selectedCard.titleKey) }}" class="modal-image" />
            <h3>{{ languageService.translate('service.about') }}</h3>
            <p>{{ languageService.translate(selectedCard.descriptionKey) }}</p>

            <h3>{{ languageService.translate('service.keyfeatures') }}</h3>
            <div *ngFor="let group of selectedCard.keyFacilities">
                <h4>{{ group.heading }}</h4>
                <ul>
                    <li *ngFor="let point of group.points">{{ point }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal ends -->



<app-common-footer></app-common-footer>