<app-common-navbar></app-common-navbar>


<section class="home-section">
    <!-- Background video -->
    <video autoplay muted loop class="home-section-video">
        <source src="assets/images/home-video.mp4" type="video/mp4">
    </video>

    <!-- Social icons -->
    <div class="social-bar">
        <div class="social-line"></div>

        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
        <!-- <a href="#"><i class="bi bi-twitter-x"></i> </a> -->
        <a href="#"><i class="bi bi-twitter"></i></a>

        <a href="#"><i class="bi bi-linkedin"></i></a>

        <span class="social-text">Follow us</span>

        <div class="social-line"></div>
    </div>

    <!-- Content -->
    <div class="home-section-content">
        <h1>Smarter Solutions for a Digital Future</h1>
        <p>
            Let's Together <span id="typing"></span><span class="home-section-cursor">|</span> in digital age.
        </p>
        <button class="home-section-btn">Lets Talk</button>
    </div>
</section>