<nav class="navbar" [ngClass]="{ 'scrolled': isScrolled }">
  <!-- Logo + Name -->
  <div class="logo">
    <img src="assets/images/Group 207.png" alt="Logo" class="logo-img" />
  </div>

  <!-- Hamburger for mobile -->
  <div class="hamburger" (click)="toggleMenu()">&#9776;</div>

  <!-- Menu -->
  <ul class="nav-links" [ngClass]="{ open: isMenuOpen }">
    <!-- Language Dropdown -->
    <li class="dropdown">
      <a href="javascript:void(0)">{{ languageService.translate('language') }} ▾</a>
      <ul class="dropdown-menu">
        <li><a href="javascript:void(0)" (click)="switchLanguage('en')" [class.active]="currentLanguage === 'en'">English</a></li>
        <li><a href="javascript:void(0)" (click)="switchLanguage('ar')" [class.active]="currentLanguage === 'ar'">العربية</a></li>
      </ul>
    </li>

    <li>
      <a href="javascript:void(0)" (click)="navigateHome()">
        {{ languageService.translate('home') }}
      </a>
    </li>
    <!-- <li><a href="javascript:void(0)" (click)="scrollToSection('services')">{{ languageService.translate('services') }}</a></li> -->
         <li><a [routerLink]="['/service-section']">{{ languageService.translate('services') }}</a></li>
    <li><a href="javascript:void(0)" (click)="scrollToSection('about')">{{ languageService.translate('about') }}</a></li>
    <li><a href="javascript:void(0)" (click)="scrollToSection('products')">{{ languageService.translate('products') }}</a></li>
    <li>
      <a href="javascript:void(0)" (click)="scrollToSection('contact')" class="contact-link">{{ languageService.translate('contact') }}</a>
    </li>

  </ul>
</nav>