<!-- Products Section -->

<section class="products-section" aria-label="Our Products">
    <div class="container text-center">
        <h2 class="main-title">{{ languageService.translate('products.title') }}</h2>
        <p class="section-subtitle">
            {{ languageService.translate('products.subtitle') }}
        </p>

        <!-- Tabs -->
        <div class="tabs">
            <span class="tab" [class.active]="activeTab === 'mobile'" (click)="activeTab = 'mobile'">
                {{ languageService.translate('products.mobile') }}</span>

            <span class="tab" [class.active]="activeTab === 'web'" (click)="activeTab = 'web'">{{
                languageService.translate('products.web') }}</span>
        </div>

        <!-- Mobile Projects -->
        <div class="products-grid" *ngIf="activeTab === 'mobile'">
            <article class="product-card" *ngFor="let project of mobileProjects" data-aos="fade-up"
                (click)="goToProduct(project.id)">
                <img [src]="project.img" [alt]="languageService.translate(project.titleKey)">
                <div class="overlay"></div>
                <div class="product-info">
                    <h3>{{ languageService.translate(project.titleKey) }}</h3>
                    <p class="desc">{{ languageService.translate(project.descKey) }}</p>
                    <a href="#"><span>&#8599;</span></a>
                </div>
            </article>
        </div>

        <!-- Web Projects -->
        <div class="products-grid" *ngIf="activeTab === 'web'">
            <article class="product-card" *ngFor="let project of webProjects" data-aos="fade-up"
                (click)="goToProduct(project.id)">
                <img [src]="project.img" [alt]="languageService.translate(project.titleKey)" loading="lazy">
                <div class="overlay"></div>
                <div class="product-info">
                    <h3>{{ languageService.translate(project.titleKey) }}</h3>
                    <p class="desc">{{ languageService.translate(project.descKey) }}</p>
                    <a href="#"><span>&#8599;</span></a>
                </div>
            </article>
        </div>

        <div class="view-all">
            <a [routerLink]="['/service-section']">
                {{ languageService.translate('products.view') }} →
            </a>
        </div>
    </div>
</section>

<!-- Technology Section -->

<section class="technologies-section" aria-label="Technologies We Use">
    <div class="container">
        <h2 class="main-title">{{ languageService.translate('products.technologies') }}</h2>

        <div class="tech-wrapper">
            <!-- Tabs -->
            <div class="tabs-vertical">
                <span class="tab" [class.active]="activetechTab === 'web'" (click)="switchTab('web')">
                    {{ languageService.translate('products.webdev') }}
                </span>
                <span class="tab" [class.active]="activetechTab === 'mobile'" (click)="switchTab('mobile')">
                    {{ languageService.translate('products.mobiledev') }}
                </span>
            </div>

            <!-- Right side -->
            <div class="tech-right">
                <!-- Desktop Horizontal Timeline -->
                <div class="tech-timeline" *ngIf="activetechTab === 'web'">
                    <div class="tech-item" *ngFor="let tech of webTechnologies; let i = index"
                        [ngClass]="{ 'top': i % 2 === 0, 'bottom': i % 2 !== 0 }">

                        <ng-container *ngIf="i % 2 === 0">
                            <div class="tech-circle" data-aos="fade-right">
                                <img [src]="tech.img" [alt]="languageService.translate(tech.nameKey)" width="40" />
                            </div>
                            <div class="tech-content">
                                <h3>{{ languageService.translate(tech.nameKey) }}</h3>
                                <p [title]="languageService.translate(tech.descKey)">{{
                                    languageService.translate(tech.descKey) }}</p>

                            </div>
                        </ng-container>

                        <ng-container *ngIf="i % 2 !== 0">
                            <div class="tech-content">
                                <h3>{{ languageService.translate(tech.nameKey) }}</h3>
                                <p [title]="languageService.translate(tech.descKey)">{{
                                    languageService.translate(tech.descKey) }}</p>

                            </div>
                            <div class="tech-circle" data-aos="fade-left">
                                <img [src]="tech.img" [alt]="languageService.translate(tech.nameKey)" width="40" />
                            </div>
                        </ng-container>

                    </div>
                </div>

                <div class="tech-timeline" *ngIf="activetechTab === 'mobile'">
                    <div class="tech-item" *ngFor="let tech of mobileTechnologies; let i = index"
                        [ngClass]="{ 'top': i % 2 === 0, 'bottom': i % 2 !== 0 }">

                        <ng-container *ngIf="i % 2 === 0">
                            <div class="tech-circle" data-aos="fade-right">
                                <img [src]="tech.img" [alt]="languageService.translate(tech.nameKey)" width="40"
                                    loading="lazy" />
                            </div>
                            <div class="tech-content">
                                <h3>{{ languageService.translate(tech.nameKey) }}</h3>
                                <p [title]="languageService.translate(tech.descKey)">{{
                                    languageService.translate(tech.descKey) }}</p>

                            </div>
                        </ng-container>

                        <ng-container *ngIf="i % 2 !== 0">
                            <div class="tech-content">
                                <h3>{{ languageService.translate(tech.nameKey) }}</h3>
                                <p [title]="languageService.translate(tech.descKey)">{{
                                    languageService.translate(tech.descKey) }}</p>

                            </div>
                            <div class="tech-circle" data-aos="fade-left">
                                <img [src]="tech.img" [alt]="languageService.translate(tech.nameKey)" width="40"
                                    loading="lazy" />
                            </div>
                        </ng-container>

                    </div>
                </div>

                <!-- Mobile Vertical Timeline -->
                <div class="tech-timeline-vertical" *ngIf="activetechTab === 'web'">
                    <div class="timeline-item" *ngFor="let tech of webTechnologies; let i = index"
                        [ngClass]="{ 'left': i % 2 === 0, 'right': i % 2 !== 0 }">
                        <div class="circle">
                            <img [src]="tech.img" [alt]="languageService.translate(tech.nameKey)" />
                        </div>
                        <div class="content">
                            <h3>{{ languageService.translate(tech.nameKey) }}</h3>
                            <p>{{ languageService.translate(tech.descKey) }}</p>
                        </div>
                    </div>
                </div>

                <div class="tech-timeline-vertical" *ngIf="activetechTab === 'mobile'">
                    <div class="timeline-item" *ngFor="let tech of mobileTechnologies; let i = index"
                        [ngClass]="{ 'left': i % 2 === 0, 'right': i % 2 !== 0 }">
                        <div class="circle">
                            <img [src]="tech.img" [alt]="languageService.translate(tech.nameKey)" loading="lazy" />
                        </div>
                        <div class="content">
                            <h3>{{ languageService.translate(tech.nameKey) }}</h3>
                            <p>{{ languageService.translate(tech.descKey) }}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Client section -->

<section class="clients-section" aria-label="Our Clients">
    <div class="container text-center">
        <h2 class="main-title">{{ languageService.translate('products.clients') }}</h2>

        <div class="clients-grid">
            <!-- Row 1 -->
            <div class="client-cell" data-aos="flip-up">
                <div class="logo-wrapper">
                    <img src="assets/images/client1.png" alt="Duropet">
                    <img src="assets/images/client12.png" alt="Dr.H&K">
                </div>
            </div>
            <div class="client-cell" data-aos="flip-up">
                <div class="logo-wrapper">
                    <img src="assets/images/client3.png" alt="Wiseway">
                    <img src="assets/images/client11.png" alt="Jiara">
                </div>
            </div>
            <div class="client-cell" data-aos="flip-up">
                <div class="logo-wrapper">
                    <img src="assets/images/client10.png" alt="KotKot">
                    <img src="assets/images/client3.png" alt="Wiseway">
                </div>
            </div>
            <div class="client-cell" data-aos="flip-up">
                <div class="logo-wrapper">
                    <img src="assets/images/client4.png" alt="VeganValley">
                    <img src="assets/images/client8.jpeg" alt="BoonLab Solutions">
                </div>
            </div>
            <div class="client-cell" data-aos="flip-up">
                <div class="logo-wrapper">
                    <img src="assets/images/client10.png" alt="KotKot">
                    <img src="assets/images/client5.png" alt="SugarCake">
                </div>
            </div>
            <div class="client-cell" data-aos="flip-up">
                <div class="logo-wrapper">
                    <img src="assets/images/client3.png" alt="Wiseway">
                    <img src="assets/images/stecon.webp" alt="Stecon">
                </div>
            </div>

            <!-- Row 2 -->
            <div class="client-cell" data-aos="flip-up">
                <div class="logo-wrapper">
                    <img src="assets/images/client13.png" alt="Ceekzon">
                    <img src="assets/images/client8.jpeg" alt="BoonLab Solutions">
                </div>
            </div>
            <div class="client-cell" data-aos="flip-up">
                <div class="logo-wrapper">
                    <img src="assets/images/client12.png" alt="Dr.H&K">
                    <img src="assets/images/client11.png" alt="Jiara">
                </div>
            </div>
            <div class="client-cell" data-aos="flip-up">
                <div class="logo-wrapper">
                    <img src="assets/images/client4.png" alt="VeganValley">
                    <img src="assets/images/client3.png" alt="Wiseway">
                </div>
            </div>
            <div class="client-cell" data-aos="flip-up">
                <div class="logo-wrapper">
                    <img src="assets/images/client1.png" alt="Duropet">
                    <img src="assets/images/client13.png" alt="Ceekzon">
                </div>
            </div>
            <div class="client-cell" data-aos="flip-up">
                <div class="logo-wrapper">
                    <img src="assets/images/client8.jpeg" alt="BoonLab Solutions">
                    <img src="assets/images/client3.png" alt="Wiseway">
                </div>
            </div>
            <div class="client-cell" data-aos="flip-up">
                <div class="logo-wrapper">
                    <img src="assets/images/stecon.webp" alt="Stecon">
                    <img src="assets/images/client5.png" alt="SugarCake">

                </div>
            </div>

            <!-- Row 3 -->
            <div class="client-cell" data-aos="flip-up">
                <div class="logo-wrapper">
                    <img src="assets/images/client11.png" alt="Jiara">
                    <img src="assets/images/client12.png" alt="Dr.H&K">
                </div>
            </div>
            <div class="client-cell" data-aos="flip-up">
                <div class="logo-wrapper">
                    <img src="assets/images/client10.png" alt="KotKot">
                    <img src="assets/images/client8.jpeg" alt="BoonLab Solutions">
                </div>
            </div>
            <div class="client-cell" data-aos="flip-up">
                <div class="logo-wrapper">
                    <img src="assets/images/client1.png" alt="Duropet">
                    <img src="assets/images/client8.jpeg" alt="BoonLab Solutions">
                </div>
            </div>
            <div class="client-cell" data-aos="flip-up">
                <div class="logo-wrapper">
                    <img src="assets/images/client3.png" alt="Wiseway">
                    <img src="assets/images/client4.png" alt="VeganValley">
                </div>
            </div>
            <div class="client-cell" data-aos="flip-up">
                <div class="logo-wrapper">
                    <img src="assets/images/client5.png" alt="SugarCake">
                    <img src="assets/images/client13.png" alt="Ceekzon">
                </div>
            </div>
            <div class="client-cell" data-aos="flip-up">
                <div class="logo-wrapper">
                    <img src="assets/images/client13.png" alt="Ceekzon">
                    <img src="assets/images/client1.png" alt="Duropet">
                </div>
            </div>
        </div>
    </div>
</section>